@{
    ViewBag.Title = "Admission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admission</h2>

<div class="container">
<br><br>
<div class="page-header" style="color: #000033">
    <h2><strong>Administration Management</strong></h2>
</div>
<ol class="breadcrumb" style="background-color: #D9EDF7">
    <li><a href="admin-management.html"><i class="fa fa-home fa-2x" aria-hidden="true"></i> <label> Home</label></a></li>
    <li>Student Pre-Admission</li>
</ol>
<br>
<div class="col-xs-12">
        <div class="panel panel-custom">
            <div class="panel-heading">IA. APPLICANTS INFORMATION</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Surname</label>
                            <input class="form-control" type="" name="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" type="" name="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Middle Name</label>
                            <input class="form-control" type="" name="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                        <div class="form-group">
                            <label>Address: </label>
                            <input class="form-control" type="" name="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Citizenship</label>
                            <input class="form-control" type="" name="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                        <div class="form-group">
                            <label>Mobile No. (S)</label>
                            <input class="form-control" type="" name="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="" name="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                        <div class="form-group">
                            <label class="control-label" for="dob">Date of Birth *</label>
                            <div class="input-group date form_date" data-date-format="dd MM yyyy" data-link-field="dob" data-link-format="dd MM yyyy">
                               <input id="dateOfBirth" class="form-control" size="16" type="text" value="" readonly="">
                               <span class="input-group-addon">
                                  <div id="dateOfBirthIcon" class="glyphicon glyphicon-calendar datepicker"></div>
                               </span>
                               <span class="input-group-addon">
                                  <div id="dateOfBirthCloseIcon" class="glyphicon glyphicon-remove"></div>
                               </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                        <div class="form-group">
                            <label>Place of Birth</label>
                            <input class="form-control" type="" name="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Religion</label>
                            <select class="form-control" id="select-religion">
                                <option selected disabled>- SELECT RELIGION -</option>
                                <option value="">Roman Catholic</option>
                                <option value="1">Protestant</option>
                                <option value="2">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="protestant" style="display: none;">
                        <div class="form-group">
                            <label>Specify</label>
                            <input class="form-control" type="" name="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="others" style="display: none;">
                        <div class="form-group">
                            <label>Specify</label>
                            <input class="form-control" type="" name="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-custom">
            <div class="panel-heading">IB. SCHOLASTICS BACKGROUND</div>
            <div class="panel-body">
                <p>List in order, beginning from the lowest grade, ALL schools attended. This must be a COMPLETE listing of evevry school in which the child has been enrolled.</p>
                <div style="overflow-x: auto;">
                    <table id="scholastic" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 30%; text-align: center;">School Attended</th>
                                <th style="width: 35%; text-align: center;">Level</th>
                                <th style="width: 20%; text-align: center;" colspan="3">Level</th>
                                <th style="width: 15%; text-align: center;" colspan="3">School Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="form-control input-sm tb-input" type="" name=""></td>
                                <td><input class="form-control input-sm tb-input" type="" name=""></td>
                                <td class="no-border-right">
                                    <center>
                                        <input class="form-control" style="width:50px;" type="" name="" placeholder="G - 1"> 
                                    </center>
                                </td>
                                <td class="no-border-right">
                                    <center>
                                        <label> - </label>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <input class="form-control" style="width:50px;" type="" name="" placeholder="G - 3">
                                    </center>
                                </td>
                                <td class="no-border-right">
                                    <center>
                                        <input class="form-control" style="width: 60px;" type="" name="" placeholder="2013" maxlength="4">
                                    </center>
                                </td>
                                <td class="no-border-right">
                                    <center>
                                        <label> - </label>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <input class="form-control" style="width: 60px;" type="" name="" placeholder="2016" maxlength="4">
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td><input class="form-control input-sm" type="" name=""></td>
                                <td><input class="form-control input-sm" type="" name=""></td>
                                <td class="no-border-right">
                                    <center>
                                        <input class="form-control" style="width:50px;" type="" name="" placeholder="G - 1"> 
                                    </center>
                                </td>
                                <td class="no-border-right">
                                    <center>
                                        <label> - </label>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <input class="form-control" style="width:50px;" type="" name="" placeholder="G - 3">
                                    </center>
                                </td>
                                <td class="no-border-right">
                                    <center>
                                        <input class="form-control" style="width: 60px;" type="" name="" placeholder="2013" maxlength="4">
                                    </center>
                                </td>
                                <td class="no-border-right">
                                    <center>
                                        <label> - </label>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <input class="form-control" style="width: 60px;" type="" name="" placeholder="2016" maxlength="4">
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" id="btnAddRow" name="">Add more</button>
                    <button class="btn btn-success" id="btndeleteRow" name="">Delete Row</button>
                </div>
            </div>
        </div>
        <div class="panel panel-custom">
            <div class="panel-heading">II. GUARDIAN' INFORMATION</div>
            <div class="panel-body">
                <div id="guardian-info" class="tab-pane fade in active">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Surname</label>
                                        <input class="form-control" type="" name="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" type="" name="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <input class="form-control" type="" name="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input class="form-control" type="" name="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Mobile No.</label>
                                        <input class="form-control" type="" name="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" type="" name="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Occupation/Profession</label>
                                        <input class="form-control" type="" name="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>