@{
    ViewBag.Title = "add_employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" >
         <br>
         <br>
         <div class="page-header" style="color: #000033">
            <h2><strong class="black">Human Resource Management</strong></h2>
         </div>
         <ol class="breadcrumb" style="background-color: #D9EDF7">
            <li><a href="@Url.Action("hrManagement", "Hr")"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</a></li>
            <li class="black">New Employee</li>
         </ol>
         <!-- your code start here -->
         <!-- Please observe indention -->
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <h4>School Year 2016-2017</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <button type="button" class="btn btn-default pull-right" value='Print' onclick='printDiv();' ><i class="fa fa-print" aria-hidden="true"></i>Print Forms</button>
            </div>
         </div>
         <div class='row'>
             <form id='toogleValidationEmployee' method="POST" enctype="multipart/form-data">
                 <!--action="http://localhost:8000/admin/students_info"-->
                 <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding-right: 30px;">
                     <div class="row">
                         <ul class="nav nav-pills nav-stacked" id="myTabs">
                             <li id="tab1" class="active window-vertical-style"><a data-toggle="tab" href="#personalInfo"><font size="5" color="black">1. </font>Personal Information</a></li>
                             <li id="tab2" class="window-vertical-style"><a data-toggle="tab" href="#familyInfo"><font size="5" color="black">2. </font>Family Information</a></li>
                             <li id="tab3" class="window-vertical-style"><a data-toggle="tab" href="#educInfo"><font size="5" color="black">3. </font>Education Information</a></li>
                             <li id="tab4" class="window-vertical-style"><a data-toggle="tab" href="#workInfo"><font size="5" color="black">4. </font>Work Experience</a></li>
                             
                             
                     </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                     <div class="tab-content">
                         <div class="tab-pane active" id="personalInfo">
                             <div class="panel panel-custom">
                                 <div class="panel-heading"><i class="fa fa-address-book-o"></i>&nbsp Personal Information</div>
                                 <div class="panel-body">
                                     <div class='row'>
                                         <div class='col-xs-12 col-lg-12 m-t-20'>
                                             <div class="col-xs-12 col-lg-4 no-padding">
                                                 <div class='form-group col-xs-12 col-lg-12 clearfix'>
                                                     <div class="form-group">
                                                         <figure>
                                                             <img id="blah2" src="{!! asset('assets/images/teacher1.png') !!}" height="160">
                                                             <figcaption>
                                                                 <span class="btn btn-file">
                                                                     <input class="required input-sm" type="file" id="imgInp2" name="employee_img" style="width: 100px;">
                                                                 </span>
                                                             </figcaption>
                                                         </figure>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-xs-12 col-lg-8 no-padding" style="padding-top: 20px;">
                                                 <div class='form-group col-xs-12 col-lg-12 clearfix'>
                                                     <label class='control-label' for='EmployeeNo'>RFID *</label>
                                                     <input class='required form-control' name="RFID" type='text'>
                                                 </div>
                                                 <div class='form-group col-xs-12 col-lg-6 clearfix'>
                                                     <label class='control-label' for='staffDepartment'>Department *</label>
                                                     <select class="col-md-12 col-lg-12 form-control" data-style='btn-white' id="staffDepartment" name="staffDepartment">
                                                         <option value="" hidden>--Select Department--</option>
                                                         <option value="Administration">Administration</option>
                                                         <option value="Clinic">Clinic</option>
                                                         <option value="Counselor">Counselor</option>
                                                         <option value="Finance">Finance</option>
                                                         <option value="Human Resources">Human Resources</option>
                                                         <option value="Security">Security</option>
                                                         <option value="Library">Library</option>
                                                         <option value="Transportation">Transportation</option>
                                                         <option value="Maintenance">Maintenance</option>
                                                         <option value="Teacher">Teacher</option>
                                                         <option value="Other Staffs">Other Staffs</option>
                                                     </select>
                                                 </div>

                                                 <div class='form-group col-lg-6 clearfix'>
                                                     <label class='control-label' for='staffRole'>Role *</label>
                                                     <select class="col-md-12 col-lg-12 form-control" data-style='btn-white' id="staffRole" name="role">
                                                         <option data-value="" hidden>--Select Role--</option>
                                                         <option data-value="Administration" value="Principal">Principal</option>
                                                         <option data-value="Administration" value="Secretary">Secretary</option>
                                                         <option data-value="Administration" value="Registrar">Registrar</option>
                                                         <option data-value="Clinic" value="Nurse">Nurse</option>
                                                         <option data-value="Clinic" value="Medical/Dental">Medical/Dental</option>
                                                         <option data-value="Guidance Counselor" value="Guidance Counselor">Guidance Counselor</option>
                                                         <option data-value="Counselor" value="Guidance Coordinator">Guidance Coordinator</option>
                                                         <option data-value="Counselor" value="Guidance Assistant">Guidance Assistant</option>
                                                         <option data-value="Counselor" value="Order and Discipline">Order and Discipline</option>
                                                         <option data-value="Finance" value="Director of Finance">Director of Finance</option>
                                                         <option data-value="Finance" value="Cashier">Cashier</option>
                                                         <option data-value="Finance" value="Accountant">Accountant</option>
                                                         <option data-value="Finance" value="Bookkeeper">Bookkeeper</option>
                                                         <option data-value="Human Resources" value="HR Manager">HR Manager</option>
                                                         <option data-value="Human Resources" value="Assistant HR">Assistant HR</option>
                                                         <option data-value="Security" value="Security Guard">Security Guard</option>
                                                         <option data-value="Library" value=" Librarian"> Librarian</option>
                                                         <option data-value="Library" value="Assistant Librarian">Assistant Librarian</option>
                                                         <option data-value="Transportation" value="Driver">Driver</option>
                                                         <option data-value="Transportation" value="Conductor">Conductor</option>
                                                         <option data-value="Transportation" value="Mechanic">Mechanic</option>
                                                         <option data-value="Maintenance" value="Auditor">Auditor</option>
                                                         <option data-value="Maintenance" value="Electrician">Electrician</option>
                                                         <option data-value="Teacher" value="Master Teacher">Master Teacher</option>
                                                         <option data-value="Teacher" value="Teacher I">Teacher I</option>
                                                         <option data-value="Teacher" value="Teacher II">Teacher II</option>
                                                         <option data-value="Teacher" value="Teacher III">Teacher III</option>
                                                         <option data-value="Other Staffs" value="Janitor">Janitor</option>
                                                         <option data-value="Other Staffs" value="Helper">Helper</option>
                                                         <option data-value="Other Staffs" value="Gardener">Gardener</option>
                                                     </select>
                                                     <input class='role' name="role" id="role" type='hidden'>
                                                 </div>


                                                 <div class='form-group col-lg-6 clearfix'>
                                                     <label class='control-label' for='license'>Date Hired *</label>
                                                     <div class="input-group date form_date2 col-lg-12" data-date-format="MM dd, yyyy" data-link-field="dateHired">
                                                         <input class="form-control" size="16" type="text" value="" id="dateHired2" name="date_hired">
                                                         <span class="input-group-addon">
                                                             <div class="glyphicon glyphicon-remove"></div>
                                                         </span>
                                                         <span class="input-group-addon">
                                                             <div class="glyphicon glyphicon-calendar"></div>
                                                         </span>
                                                     </div>
                                                     <input type="text" id="dateHired" name="dateHired" class="cj" value="" style=" position: absolute; visibility: hidden;" />
                                                 </div>

                                                 <div class='form-group col-lg-6 clearfix'>
                                                     <label class='control-label' for='license'>Date of Regularization *</label>
                                                     <div class="input-group date form_date2 col-lg-12" data-date-format="MM dd, yyyy" data-link-field="dateHired">
                                                         <input class="form-control" size="16" type="text" value="" id="dateHired2" name="date_hired" readonly>
                                                         <span class="input-group-addon">
                                                             <div class="glyphicon glyphicon-remove"></div>
                                                         </span>
                                                         <span class="input-group-addon">
                                                             <div class="glyphicon glyphicon-calendar"></div>
                                                         </span>
                                                     </div>
                                                     <input type="text" id="dateHired" name="dateHired" class="cj" value="" style=" position: absolute; visibility: hidden;" />
                                                 </div>
                                             </div>

                                         </div>
                                     </div>
                                     <!--  end of the row -->

                                     <div class='row'>
                                         <div class='col-xs-12'>
                                             <div class='form-group col-xs-12 col-md-12 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='empLastName'>Last Name *</label>
                                                 <div class='col-xs-12'>
                                                     <input class='required form-control' name="empLastName" id="empLastName" type='text'>
                                                 </div>
                                             </div>
                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='empFirstName'>First Name *</label>
                                                 <div class='col-xs-12'>
                                                     <input class='required form-control' name="empFirstName" id="empFirstName" type='text'>
                                                 </div>
                                             </div>
                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='empMiddleName'>Middle Name *</label>
                                                 <div class='col-xs-12'>
                                                     <input class='required form-control' name="empMiddleName" id="empMiddleName" type='text'>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                     <div class='row'>
                                         <div class='col-xs-12'>
                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='religion'>Religion *</label>
                                                 <div class='col-xs-12'>
                                                     <input type="text" list="dataReligion" class="required form-control" data-style='btn-white' id="religion" name="religion" autocomplete="off">
                                                 </div>
                                             </div>
                                             <datalist id="dataReligion">
                                                 <option value="Christian">
                                                 <option value="Buddhism">
                                                 <option value="Islam">
                                                 <option value="Judaism">
                                                 <option value="Atheism">
                                                 <option value="Shinto">
                                                 <option value="Taoism">
                                                 <option value="Candomble">
                                                 <option value="Santeria">
                                                 <option value="Pafanism">
                                                 <option value="Jainism">
                                                 <option value="Bahai">
                                                 <option value="Zoroastrianism">
                                                 <option value="Rastafari">
                                                 <option value="Unitarianism">
                                                 <option value="Animism">
                                                 <option value="Amish">
                                                 <option value="Asatru">
                                                 <option value="Aladura">
                                                 <option value="Greek Myth">
                                                 <option value="Mormonism">
                                                 <option value="Hinduism">
                                                 <option value="Jehovahs Witnesses">
                                             </datalist>
                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='studentNationality'>Nationality *</label>
                                                 <div class='col-xs-12'>
                                                     <input type="text" list="dataNationality" class="form-control" id="empNationality" name="empNationality" data-style='btn-white' autocomplete="off">
                                                 </div>
                                             </div>
                                             <datalist id="dataNationality">
                                                 <option>Filipino</option>
                                                 <option>American</option>
                                                 <option>Afghan</option>
                                                 <option>Albanian</option>
                                                 <option>Algerian</option>
                                                 <option>Andorran</option>
                                                 <option>Angolan</option>
                                                 <option>Argentinian</option>
                                                 <option>Armenian</option>
                                                 <option>Australian</option>
                                                 <option>Azerbaijani</option>
                                                 <option>Bahamian</option>
                                                 <option>Bangladeshi</option>
                                                 <option>Barbadian</option>
                                                 <option>Balorussian</option>
                                                 <option>Belgian</option>
                                                 <option>Beninese</option>
                                                 <option>Bhutanese</option>
                                                 <option>Bolivian</option>
                                                 <option>Bosnian</option>
                                                 <option>Brazilian</option>
                                                 <option>British</option>
                                                 <option>Briton</option>
                                                 <option>Bruneian</option>
                                                 <option>Bulgarian</option>
                                                 <option>Burmese</option>
                                                 <option>Burundian</option>
                                                 <option>Cambodian</option>
                                                 <option>Cameroonian</option>
                                                 <option>Canadian</option>
                                                 <option>Chandian</option>
                                                 <option>Chinese</option>
                                                 <option>Colombia</option>
                                                 <option>Congolese</option>
                                                 <option>Crotian</option>
                                                 <option>Cuban</option>
                                                 <option>Cypriot</option>
                                                 <option>Czech</option>
                                                 <option>Dane</option>
                                                 <option>Dominican</option>
                                                 <option>Ecuadorean</option>
                                                 <option>Egyptian</option>
                                                 <option>Englishman</option>
                                                 <option>Eritrean</option>
                                                 <option>Estonian</option>
                                                 <option>Fijan</option>
                                                 <option>Finn</option>
                                                 <option>Frenchman</option>
                                                 <option>Gabonese</option>
                                                 <option>Gambian</option>
                                                 <option>Georgian</option>
                                                 <option>German</option>
                                                 <option>Ghanaian</option>
                                                 <option>Greek</option>
                                                 <option>Grenadian</option>
                                                 <option>Guatemalan</option>
                                                 <option>Guinean</option>
                                                 <option>Guyanese</option>
                                                 <option>Haitian</option>
                                                 <option>Dutchman</option>
                                                 <option>Honduran</option>
                                                 <option>Hungarian</option>
                                                 <option>Icelander</option>
                                                 <option>Indian</option>
                                                 <option>Indonesian</option>
                                                 <option>Iranian</option>
                                                 <option>Iraqi</option>
                                                 <option>Israeli</option>
                                                 <option>Italian</option>
                                                 <option>Jamaican</option>
                                                 <option>Japanese</option>
                                                 <option>Jordanian</option>
                                                 <option>Kazakh</option>
                                                 <option>Kenyan</option>
                                                 <option>Korean</option>
                                                 <option>Kuwaiti</option>
                                                 <option>Laotian</option>
                                                 <option>Latvian</option>
                                                 <option>Lebanese</option>
                                                 <option>Liberian</option>
                                                 <option>Libyan</option>
                                                 <option>Leichtensteiner</option>
                                                 <option>Lithuanian</option>
                                                 <option>Luxembourger</option>
                                                 <option>Macedonian</option>
                                                 <option>Madagascan</option>
                                                 <option>Malawian</option>
                                                 <option>Malaysian</option>
                                                 <option>Maldivian</option>
                                                 <option>Malian</option>
                                                 <option>Maltese</option>
                                                 <option>Mauritanian</option>
                                                 <option>Mauritian</option>
                                                 <option>Mexican</option>
                                                 <option>Moldovan</option>
                                                 <option>Monacan</option>
                                                 <option>Mongolian</option>
                                                 <option>Montenegrin</option>
                                                 <option>Moroccan</option>
                                                 <option>Mozambican</option>
                                                 <option>Namibian</option>
                                                 <option>Nepalese</option>
                                                 <option>Nicaraguan</option>
                                                 <option>Nigerien</option>
                                                 <option>Nigerian</option>
                                                 <option>Norwegian</option>
                                                 <option>Pakistani</option>
                                                 <option>Panamanian</option>
                                                 <option>Paraguayan</option>
                                                 <option>Peruvian</option>
                                                 <option>Pole</option>
                                                 <option>Portuguese</option>
                                                 <option>Qatari</option>
                                                 <option>Romanian</option>
                                                 <option>Russian</option>
                                                 <option>Rwandan</option>
                                                 <option>Salvadorean</option>
                                                 <option>Saudi</option>
                                                 <option>Scot</option>
                                                 <option>Senegalese</option>
                                                 <option>Serbian</option>
                                                 <option>Singaporean</option>
                                                 <option>Slovak</option>
                                                 <option>Somali</option>
                                                 <option>Spaniard</option>
                                                 <option>Sri Lankan</option>
                                                 <option>Sudanese</option>
                                                 <option>Surinamese</option>
                                                 <option>Swazi</option>
                                                 <option>Swede</option>
                                                 <option>Swiss</option>
                                                 <option>Syrian</option>
                                                 <option>Taiwanese</option>
                                                 <option>Tadzhik</option>
                                                 <option>Tanzanian</option>
                                                 <option>Thai</option>
                                                 <option>Togolese</option>
                                                 <option>Trinidadian</option>
                                                 <option>Tunisian</option>
                                                 <option>Turk</option>
                                                 <option>Ugandan</option>
                                                 <option>Urkrainian</option>
                                                 <option>Uruguayan</option>
                                                 <option>Uzbek</option>
                                                 <option>Venenzuelan</option>
                                                 <option>Welshman</option>
                                                 <option>Yemeni</option>
                                                 <option>Yugoslav</option>
                                                 <option>Zambian</option>
                                                 <option>Zimbabwean</option>
                                             </datalist>
                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='employeeBirthDay'>Birthday</label>
                                                 <div class='col-xs-12'>
                                                     <div class="input-group date form_date col-lg-12" data-date-format="MM dd, yyyy">
                                                         <input class="form-control" size="16" type="text" value="" id="employeeBirthDay" name="employeeBirthDay" readonly>
                                                         <span class="input-group-addon">
                                                             <div class="glyphicon glyphicon-remove"></div>
                                                         </span>
                                                         <span class="input-group-addon">
                                                             <div class="glyphicon glyphicon-calendar"></div>
                                                         </span>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                     <div class='row'>
                                         <div class='col-xs-12'>
                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='height'>Height *</label>
                                                 <div class='col-xs-12'>
                                                     <input type="text" class="required form-control" data-style='btn-white' id="height" name="height">
                                                 </div>
                                             </div>

                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='weight'>Weight *</label>
                                                 <div class='col-xs-12'>
                                                     <input type="text" class="required form-control" data-style='btn-white' id="weight" name="weight">
                                                 </div>
                                             </div>


                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='empMobile'>Mobile no. *</label>
                                                 <div class='col-xs-12'>
                                                     <div class=' input-group'>
                                                         <span class="input-group-addon">+63</span>
                                                         <input class='required form-control passValue' type="number" name="empMobile" placeholder="xxxxxxxxxx" id="empMobile" type='text'>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                     <div class='row'>
                                         <div class='col-xs-12'>
                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='bloodType'>Blood Type</label>
                                                 <div class='col-xs-12 form-group'>
                                                     <select class="selectpicker col-xs-12 form-control" data-style='btn-white' id="bloodType" name="bloodType">
                                                         <option data-hidden="true"></option>
                                                         <option value="A+">A+</option>
                                                         <option value="A-">A-</option>
                                                         <option value="B+">B+</option>
                                                         <option value="B-">B-</option>
                                                         <option value="O+">O+</option>
                                                         <option value="O-">O-</option>
                                                         <option value="AB+">AB+</option>
                                                         <option value="AB-">AB-</option>
                                                     </select>
                                                 </div>
                                             </div>

                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label form-group' for='maritalStatus'>Marital Status *</label>
                                                 <div class='col-xs-12 form-group'>
                                                     <select class="selectpicker col-xs-12 form-control" name="maritalStatus" id="maritalStatus" data-style='btn-white' onchange='status()'>
                                                         <option value="" disabled selected>--Select Marital Status--</option>
                                                         <option value="Single">Single</option>
                                                         <option value="Married">Married</option>
                                                         <option value="Separated">Separated</option>
                                                         <option value="Divorced">Divorced</option>
                                                         <option value="Widowed">Widowed</option>
                                                     </select>
                                                 </div>
                                             </div>
                                             <div class='form-group col-xs-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='height'>Gender*</label>
                                                 <div class="col-xs-12 col-md-12 col-lg-12">
                                                     <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>
                                                         <input id='male' class='male' name="gender" value="Male" type='radio'>
                                                         <label for='male'>Male</label>
                                                     </div>
                                                     <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>
                                                         <input id='female' name="gender" value="Female" class='female' type='radio'>
                                                         <label for='female'>Female</label>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                     <div id="employment" hidden>
                                         <hr>
                                         <div class='row'>
                                             <div class='col-xs-12'>
                                                 <div class='form-group col-xs-3 clearfix'>
                                                     <label class='col-xs-12 control-label'>
                                                         Employment Type *
                                                     </label>
                                                     <div id='' class="col-xs-12">
                                                         <div class='radio-inline'>
                                                             <input id='regular' name="empType" value="Regular" type='radio'><label for="regular">Regular</label>
                                                         </div>
                                                         <div class='radio-inline'>
                                                             <input id='not_regular' name="empType" value="Not Regular" type='radio'><label for="not_regular">Contractual</label>
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div id="vac_leave" class='form-group col-xs-3 clearfix' hidden>
                                                     <label class='col-xs-12 control-label' for='vacLeave'>Max Vacation Leave *</label>
                                                     <div class='col-xs-12'>
                                                         <input class='required form-control passValue' name="vacLeave" id="vacLeave" type='text'>
                                                     </div>
                                                 </div>
                                                 <div id="sick_leave" class='form-group col-xs-3 clearfix' hidden>
                                                     <label class='col-xs-12 control-label' for='sickLeave'>Max Sick Leave *</label>
                                                     <div class='col-xs-12'>
                                                         <input class='required form-control passValue' name="sickLeave" id="sickLeave" type='text'>
                                                     </div>
                                                 </div>
                                                 <div id='mat_leave' class='form-group col-xs-3 clearfix' hidden>
                                                     <label class='col-xs-12 control-label' for='maternalLeave'>Max Maternal Leave *</label>
                                                     <div class='col-xs-12'>
                                                         <input class='required form-control passValue' name="maternalLeave" id="maternalLeave" type='text'>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class='row'>
                                             <div class='col-xs-12'>
                                                 <div class='form-group col-xs-3 clearfix'>
                                                     <label class='col-xs-12 control-label' for='pagibig'>Pag-ibig No. *</label>
                                                     <div class='col-xs-12'>
                                                         <input class='required form-control passValue' name="pagibig" id="pagibig" type='text'>
                                                     </div>
                                                 </div>
                                                 <div class='form-group col-xs-3 clearfix'>
                                                     <label class='col-xs-12 control-label' for='philhealth'>Philhealth No. *</label>
                                                     <div class='col-xs-12'>
                                                         <input class='required form-control passValue' name="philhealth" id="philhealth" type='text'>
                                                     </div>
                                                 </div>
                                                 <div class='form-group col-xs-3 clearfix'>
                                                     <label class='col-xs-12 control-label' for='sss'>SSS No. *</label>
                                                     <div class='col-xs-12'>
                                                         <input class='required form-control passValue' name="sss" id="sss" type='text'>
                                                     </div>
                                                 </div>
                                                 <div class='form-group col-xs-3 clearfix'>
                                                     <label class='col-xs-12 control-label' for='tin'>TIN *</label>
                                                     <div class='col-xs-12'>
                                                         <input class='required form-control passValue' name="tin" id="tin" type='text'>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                     <div class='col-xs-12'>
                                         <div class='row'>
                                             <div class='col-xs-12'>
                                                 <h4>PRESENT ADDRESS DETAILS</h4>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class='form-group col-xs-12 clearfix'>
                                                 <div class="col-lg-12">
                                                     <label class='col-xs-12 control-label' for='presentAddress'>Present Address *</label>
                                                 </div>
                                                 <div class="col-lg-6">
                                                     <div class="col-lg-12 form-group clearfix">
                                                         <input class='required form-control' id='employeeUnitNumber' name='employeeUnitNumber' placeholder="Present Address">
                                                     </div>
                                                 </div>
                                                 <div class="col-lg-6">
                                                     <div class='col-lg-12 form-group clearfix'>
                                                         <input class='required form-control' id='employeeHouseNumber' name='employeeHouseNumber' placeholder="Present Area Code">
                                                     </div>
                                                 </div>



                                             </div>
                                         </div>

                                         <div class='row'>
                                             <div class='col-xs-12'>
                                                 <h4>Provincial Address</h4>
                                             </div>
                                         </div>
                                         <div class='row'>
                                             <div class='col-xs-12'>
                                                 <div class='form-group col-xs-12 clearfix'>

                                                     <label class='col-xs-12 control-label' for='permanentAddress'>Provincial Address *</label>
                                                     <div class="col-lg-6">
                                                         <div class="form-group clearfix">
                                                             <input class='required form-control' id='employeeUnitNumber1' name='employeeUnitNumber1' placeholder="Provincial Address">
                                                         </div>
                                                     </div>
                                                     <div class="col-lg-6">
                                                         <div class='form-group clearfix'>
                                                             <input class='required form-control' id='employeeHouseNumber1' name='employeeHouseNumber1' placeholder="Provincial Area Code">
                                                         </div>
                                                     </div>




                                                 </div>
                                             </div>
                                         </div>

                                         <div class='form-group clearfix'>
                                             <label class='col-xs-12 control-label'>(*) Mandatory</label>
                                         </div>


                                     </div>

                                 </div>
                             </div>
                         </div>

                         <!-- end personal info tab-->

                         <div id="familyInfo" class="tab-pane fade">
                             <div class="panel panel-custom">
                                 <div class="panel-heading"><i class="fa fa-address-book-o"></i>&nbsp Family Information</div>
                                 <div class="panel-body">
                                     <div class='col-lg-12'>
                                         <h4>PARENT'S INFORMATION</h4>
                                     </div>
                                     <div class='row'>
                                         <div class='col-xs-12'>
                                             <div class='form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='fathersName'>Father's Name *</label>
                                                 <div class='col-xs-12'>
                                                     <input class='form-control displayValue' name="fathersName" id="fathersName" type='text'>
                                                 </div>
                                             </div>
                                             <div class='form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='occupation'>Occupation</label>
                                                 <div class='col-xs-12'>
                                                     <input class='form-control displayValue' name="occupation" id="occupation" type='text'>
                                                 </div>
                                             </div>
                                             <div class='form-group col-xs-12 col-sm-12 col-md-4 col-lg-4  clearfix'>
                                                 <label class='col-xs-12 control-label' for='mobile'>Mobile No.</label>

                                                 <div class=' input-group'>
                                                     <span class="input-group-addon">+63</span>
                                                     <input class='required form-control passValue' type="number" name="empMobile" placeholder="xxxxxxxxxx" id="empMobile" type='text'>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                     <div class='row'>
                                         <div class='col-xs-12'>
                                             <div class='form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='mothersName'>Mother's Name *</label>
                                                 <div class='col-xs-12'>
                                                     <input class='form-control displayValue' name="mothersName" id="mothersName" type='text'>
                                                 </div>
                                             </div>
                                             <div class='form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='occupation'>Occupation</label>
                                                 <div class='col-xs-12'>
                                                     <input class='form-control displayValue' name="occupation" id="occupation" type='text'>
                                                 </div>
                                             </div>
                                             <div class='form-group col-xs-12 col-sm-12 col-md-4 col-lg-4  clearfix'>
                                                 <label class='col-xs-12 control-label' for='mobile'>Mobile No.</label>

                                                 <div class=' input-group'>
                                                     <span class="input-group-addon">+63</span>
                                                     <input class='required form-control passValue' type="number" name="empMobile" placeholder="xxxxxxxxxx" id="empMobile" type='text'>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                     <div id="spouseInfo">
                                         <div class='col-lg-12'>
                                             <h4>SPOUSE INFORMATION</h4>
                                         </div>
                                         <!-- <div class='row'>
                    <div class='col-xs-12'>
                      <div class='form-group col-xs-6 clearfix'>
                        <label class='col-xs-12 control-label' for='maritalStatus'>Marital Status</label>
                        <div class='col-xs-12'>
                          <select class="selectpicker col-xs-12" name="maritalStatus" id="maritalStatus" data-style='btn-white'>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Separated">Separated</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Annuled">Annuled</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    </div> -->
                                         <div class='row'>
                                             <div class='col-xs-12'>
                                                 <div class='form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 clearfix'>
                                                     <label class='col-xs-12 control-label' for='spouseName'>Spouse Name *</label>
                                                     <div class='col-xs-12'>
                                                         <input class='form-control displayValue' name="spouseName" id="spouseName" type='text'>
                                                     </div>
                                                 </div>

                                                 <div class='form-group col-xs-12 col-sm-12 col-md-4 col-lg-4  clearfix'>
                                                     <label class='col-xs-12 control-label' for='spouseOccupation'>Occupation</label>
                                                     <div class='col-xs-12'>
                                                         <input class='required form-control displayValue' name="spouseOccupation" id="spouseOccupation" type='text'>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>



                                     <div class='form-group clearfix'>
                                         <label class='col-xs-12 control-label'>(*) Mandatory</label>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <!-- end familyInfo tab -->

                         <div id="educInfo" class="tab-pane fade">
                             <div class="panel panel-custom">
                                 <div class="panel-heading"><i class="fa fa-address-book-o"></i>&nbsp Education Information</div>
                                 <div class="panel-body">
                                     <div class='col-xs-12'>
                                         <div class='row'>
                                             <div class='col-xs-12'>
                                                 <h4>EDUCATION DETAILS</h4>
                                             </div>
                                         </div>

                                         <div class='row'>
                                             <div class='col-xs-12'>
                                                 <div class='form-group col-xs-4 clearfix'>
                                                     <label class='col-xs-12 control-label' for='schoolAttended'>School Attended</label>
                                                     <div class='col-xs-12'>
                                                         <input class='required form-control passValue' id="schoolAttended" name="schoolAttended" type='text'>
                                                     </div>
                                                 </div>
                                                 <div class='form-group col-xs-4 clearfix'>
                                                     <label class='col-xs-12 control-label passValue' for='schoolAddress'>School Address</label>
                                                     <div class='col-xs-12'>
                                                         <div class="form-group">
                                                             <input class="form-control" size="16" type="text" value="" id="schoolAddress" name="schoolAddress">
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class='form-group col-xs-4 clearfix'>
                                                     <label class='col-xs-12 control-label passValue' for='gradelevel'>Grade level</label>
                                                     <div class='col-xs-12'>
                                                         <div class="form-group">
                                                             <input class="form-control" size="16" type="text" value="" id="gradelevel" name="gradelevel">
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>

                                         <div class='row'>
                                             <div class='col-xs-12'>

                                                 <div class='form-group col-xs-4 clearfix'>
                                                     <label class='col-xs-12 control-label passValue' for='topicDateStarted'>Year Started</label>
                                                     <div class='col-xs-12'>
                                                         <div class="form-group">
                                                             <input class="form-control" size="16" type="date" value="" id="topicDateStarted" name="topicDateStarted[]">
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class='form-group col-xs-4 clearfix'>
                                                     <label class='col-xs-12 control-label passValue' for='topicDateEnded'>Year Ended</label>
                                                     <div class='col-xs-12'>
                                                         <div class="form-group">
                                                             <input class="form-control" size="16" type="date" value="" id="topicDateEnded" name="topicDateEnded[]">
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>



                                         <div class="col-sm-4">
                                             <!-- <button class="btn btn-default btn-md waves-effect waves-light m-b-30 add-prof">
                        <i class="md md-add"></i>Add Profession</a></button> -->
                                         </div>
                                         <div class="add_seminar">
                                             <div id="seminar">
                                                 <div class='row'>
                                                     <div class='col-lg-12'>
                                                         <h4>Training/Seminar Attended</h4>
                                                     </div>
                                                 </div>
                                                 <div class='row'>
                                                     <div class='col-xs-12'>
                                                         <div class='form-group col-xs-4 clearfix'>
                                                             <label class='col-xs-12 control-label' for='topicName'>Topic Name</label>
                                                             <div class='col-xs-12'>
                                                                 <input class='required form-control passValue' id="topicName" name="topicName[]" type='text'>
                                                             </div>
                                                         </div>
                                                         <div class='form-group col-xs-4 clearfix'>
                                                             <label class='col-xs-12 control-label passValue' for='topicDateStarted'>Date Started</label>
                                                             <div class='col-xs-12'>
                                                                 <div class="form-group">
                                                                     <input class="form-control" size="16" type="date" value="" id="topicDateStarted" name="topicDateStarted[]">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <div class='form-group col-xs-4 clearfix'>
                                                             <label class='col-xs-12 control-label passValue' for='topicDateEnded'>Date Ended</label>
                                                             <div class='col-xs-12'>
                                                                 <div class="form-group">
                                                                     <input class="form-control" size="16" type="date" value="" id="topicDateEnded" name="topicDateEnded[]">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class='row'>
                                                     <div class='col-xs-12'>
                                                         <div class='form-group col-xs-12 clearfix'>
                                                             <label class='col-xs-12 control-label' for='topicAddress'>Address</label>
                                                             <div class='col-xs-12'>
                                                                 <textarea class='required form-control passValue' id="topicAddress" name="topicAddress[]" rows='3'></textarea>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>

                                             </div>
                                         </div>
                                         <div class="col-sm-4">
                                             <!--   <button class="btn btn-default btn-md waves-effect waves-light m-b-30 add-seminar">
                        <i class="md md-add"></i> Add More</button> -->
                                         </div>
                                         <div class='form-group clearfix'>
                                             <label class='col-xs-12 control-label'>(*) Mandatory</label>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <!-- end educInfo tab -->

                         <div id="workInfo" class="tab-pane fade">
                             <div class="panel panel-custom">
                                 <div class="panel-heading"><i class="fa fa-address-book-o"></i>Work Experience</div>
                                 <div class="panel-body">
                                     <div class="work_details">
                                         <div class="workdetails" name="work">
                                             <div class='row'>
                                                 <div class='col-xs-12'>
                                                     <h4 class="remove">WORK EXPERIENCE</h4>
                                                 </div>
                                             </div>
                                             <div class='row'>
                                                 <div class='col-xs-12'>
                                                     <div class='form-group col-xs-4 clearfix'>
                                                         <label class='col-xs-12 control-label' for='companyName'>Company Name</label>
                                                         <div class='col-xs-12'>
                                                             <input class='required form-control passValue' id="companyName" name="companyName" type='text'>
                                                         </div>
                                                     </div>
                                                     <div class='form-group col-xs-4 clearfix'>
                                                         <label class='col-xs-12 control-label passValue' for='YearStarted'>Year Started</label>
                                                         <div class='col-xs-12'>
                                                             <div class="form-group">
                                                                 <input class="form-control" size="16" type="text" value="" id="YearStarted" name="YearStarted">
                                                             </div>
                                                         </div>
                                                     </div>
                                                     <div class='form-group col-xs-4 clearfix'>
                                                         <label class='col-xs-12 control-label passValue' for='YearEnded'>Year Ended</label>
                                                         <div class='col-xs-12'>
                                                             <div class="form-group">
                                                                 <input class="form-control" size="16" type="text" value="" id="YearEnded'" name="YearEnded'">
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class='form-group col-xs-4 clearfix'>
                                                 <label class='col-xs-12 control-label' for='OldPosition'>Former Job Position</label>
                                                 <div class='col-xs-12'>
                                                     <input class='required form-control passValue' name="OldPosition" id="OldPosition" type='text'>
                                                 </div>
                                             </div>
                                             <div class='row'>
                                                 <div class='col-xs-12'>
                                                     <h4 class="remove">Reference</h4>
                                                 </div>
                                             </div>
                                             <div class='row'>
                                                 <div class='col-xs-12'>
                                                     <div class='form-group col-xs-4 clearfix'>
                                                         <label class='col-xs-12 control-label' for='refCompany'>Reference Company</label>
                                                         <div class='col-xs-12'>
                                                             <input class='required form-control passValue' id="refCompany" name="refCompany" type='text'>
                                                         </div>
                                                     </div>
                                                     <div class='form-group col-xs-4 clearfix'>
                                                         <label class='col-xs-12 control-label passValue' for='refPosition'>Reference Position</label>
                                                         <div class='col-xs-12'>
                                                             <div class="form-group">
                                                                 <input class="form-control" size="16" type="text" value="" id="refPosition" name="refPosition">
                                                             </div>
                                                         </div>
                                                     </div>
                                                     <div class='form-group col-xs-4 clearfix'>
                                                         <label class='col-xs-12 control-label passValue' for='refNum'>Reference Mobile Number</label>
                                                         <div class='col-xs-12'>
                                                             <div class=' input-group'>
                                                                 <span class="input-group-addon">+63</span>
                                                                 <input class='required form-control passValue' type="number" name="empMobile" placeholder="xxxxxxxxxx" id="empMobile" type='text'>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>


                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                        







                     </div>
                 </div>
                         <input type="hidden" name="_token" value="wZElGIFfGeoOZtWD6J3AliKzw8yld2IBOGsdPuFr">
                         <!-- Previous/Next buttons -->
             </form>
             </div>
    </div>
            <!-- <div class="success_message">
               </div> -->
         </div>
      </div>
      <!-- end of your code -->
      <!-- footer here -->
      <hr />
      <footer class="navbar-fixed-bottom">
         <div class="container-fluid footer">
            <p class="pull-right powerby">&copy; 2016 - Powered by <a href="http://www.simplevia.com" class="quicktrackcolor">QuickTrack</a></p>
         </div>
      </footer>
      <!-- end foooter -->
      <!-- Form App PRINT -->
      <div id="AppForm" style="height: 11in; width: 8.5in;" hidden="">
         <img src="../../Content/Images/HumanResource/AddNewEmployeePage1.jpg" style="height: auto; width: 100%;">
         <img src="../../Content/Images/HumanResource/AddNewEmployeePage2.jpg" style="height: auto; width: 100%;">
         <img src="../../Content/Images/HumanResource/AddNewEmployeePage3.jpg" style="height: auto; width: 100%;">
      </div>


      @Scripts.Render("~/Scripts/js/Hr/addEmployee.js")

